{% extends "rifa_app/base.html" %}
{% load static %}

{% block title %}Inicio - Juega con Doble EE{% endblock %}

{% block content %}

<div class="rifa-container">
    <div class="banner-container">
        <section class="hero-section">
            <div class="hero-left">
            </div>
            <div class="hero-right">
                <span class="location">Táchira, Venezuela</span>
                <h1 class="hero-title">Juega con Doble EE</h1>
                <p class="hero-subtitle">Tu oportunidad de ganar con la mejor rifa.</p>
                
                <a href="#events-list" class="btn-hero-action">VER EVENTOS</a>
            </div>
        </section>
    </div>
    

    <div class="title-section">
        <p class="subtitle">¡Hecha un vistazo a nuestras rifas!</p>
        <h2 class="main-heading">🍀 Prueba tu Suerte 🍀</h2>
    </div>

    <section class="events-list" id="events-list">
        {% if rifa_activa %}
        <div class="event-details-row"> 
            
            <div class="event-card">
                <div class="card-image-container">
                    <img src="{{ rifa_activa.imagen_principal.url }}" alt="Premio de la rifa" class="card-image">
                </div>
                
            </div>
            
            <div class="event-info-box">
                <div class="card-content">
                    <p class="event-title">{{ rifa_activa.premio_principal }}</p>
                    <p class="event-date">Sorteo: {{ rifa_activa.fecha_sorteo|date:"j F, Y" }}</p>
                </div>
                <div class="price-info">
                    <h3 class="esmeralda-text">Costo por Boleto:</h3>
                    <p class="gold-price">$ {{ rifa_activa.precio|floatformat:2 }}</p>
                </div>
                
                <hr class="divider-gold">
                
            <h3 class="esmeralda-text">Detalles de la Rifa:</h3>
                <div class="description-text">
                    <p>{{ rifa_activa.descripcion_corta|linebreaks }}</p>
                </div>

                <a href="{% url 'lista_numeros' %}" class="btn-main-cta">¡JUGAR AHORA!</a>
                
            </div>
            
        </div>
        {% else %}
        <div class="event-details-row"> 
            
            <div class="event-card">
                <div class="card-image-container">
                     <img src="{% static 'img/no_rifa.jpg' %}" alt="Producto de la Rifa" class="card-image">
                </div>
                
            </div>
            
            <div class="event-info-box">
                <div class="card-content">
                    <p class="event-title">Lo sentimos!</p>
                    <p class="event-date">no hay ningun sorteo activo :(</p>
                </div>
                
            <h3 class="esmeralda-text">Pero espera!!</h3>
                <div class="description-text">
                    <p>pronto habran mas sorteos y podras jugar con nosotros!</p>
                </div>

                
                
            </div>
            
        </div>
        {% endif %}
    </section>
    <div class="title-section finished-title">
        <p class="subtitle">¡Ganadores Anteriores!</p>
        <h2 class="main-heading">RIFAS FINALIZADAS</h2>
    </div>

    <section class="finished-events-carousel">
        {% for rifa_finalizada in rifas_finalizadas %}
        <div class="event-card finished-card">
            <div class="card-image-container">
                <img src="{{ rifa_finalizada.imagen_principal.url }}" alt="Rifa Finalizada" class="card-image">
            </div>
            <div class="card-content">
                <p class="event-title">{{ rifa_finalizada.premio_principal }}</p>
                <p class="event-date">Sorteada: {{ rifa_finalizada.fecha_sorteo|date:"j F, Y" }}</p>
                <p class="btn-finished-action">N° Ganador : {{ rifa_finalizada.numero_ganador }}</p>
            </div>
        </div>
        {% endfor %}
    </section>


    <section class="payment-methods-section" id="pagos">
        
        <div class="title-section">
            <p class="subtitle">La forma más fácil de pagar</p>
            <h2 class="main-heading">CUENTAS DE PAGO</h2>
        </div>

        <div class="payment-cards-container">
            
            <div class="payment-card">
                <img src="{% static 'img/nequi.png' %}" alt="Logo banesco" class="bank-logo">
                <h3>Nequi</h3>
                <p>Titular: Eduardo Perez</p>
                <p>3505727056</p>
                <button class="btn-copy" data-copy="3505727056">Copiar telefono</button>
            </div>

            <div class="payment-card">
                <img src="{% static 'img/binance.png' %}" alt="Logo Pago Móvil" class="bank-logo">
                <h3>Binance</h3>
                <p>I.D. : 1019727563</p>
                <p>Eduardprz.ef@gmail.com</p>
                <button class="btn-copy" data-copy="1019727563">Copiar ID</button>
            </div>

            <div class="payment-card">
                <img src="{% static 'img/activo.png' %}" alt="Logo Pago Móvil" class="bank-logo">
                <h3>Pago Movil</h3>
                <p>0412-0287190</p>
                <p>Banco Activo</p>
                <p>C.I. 28559694</p>
                <button class="btn-copy" data-copy="04120287190">Copiar Telefono</button>
            </div>
            
        </div>
        
    </section>
      
</div>
{% endblock %}
    
