{% extends "rifa_app/base.html" %}
{% load static %}

{% block title %}Inicio - Juega con Doble EE{% endblock %}

{% block content %}

<div class="rifa-container">

    <section class="hero-section">
        <div class="hero-left">
            <img src="{% static 'img/logo.png' %}" alt="Logo Juega con Doble EE Grande" class="hero-product-image">
        </div>
        <div class="hero-right">
            <span class="location">Táchira, Venezuela</span>
            <h1 class="hero-title">Juega con Doble EE</h1>
            <p class="hero-subtitle">Tu oportunidad de ganar con la mejor rifa.</p>
            
            <a href="#events-list" class="btn-hero-action">VER EVENTOS</a>
        </div>
    </section>

    <div class="title-section">
        <p class="subtitle">¡Participa!</p>
        <h2 class="main-heading">DISPONIBLES</h2>
    </div>

    <section class="events-list" id="events-list">
        {% if rifa_activa %}
        <div class="events-list">
            <div class="event-card">
                <div class="card-image-container">
                    <img src="{{ rifa_activa.imagen_principal.url }}" alt="Premio de la rifa" class="card-image">
                </div>
                <div class="card-content">
                    <p class="event-title">{{ rifa_activa.premio_principal }}</p>
                    <p class="event-date">{{ rifa_activa.fecha_sorteo|date:"j F, Y" }}</p>
                    <a href="{% url 'lista_numeros' %}" class="btn-event-action">LISTA DE BOLETOS</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="event-card">
            <div class="card-image-container">
                <img src="{% static 'img/premio_activo.jpg' %}" alt="Producto de la Rifa" class="card-image">
            </div>
            <div class="card-content">
                <h3 class="event-title">Lo lamentamos no hay rifas disponibles por ahora</h3>
                <p class="event-date">19 Octubre, 2025</p>
            </div>
        </div>
        {% endif %}
    </section>
    <div class="title-section finished-title">
        <p class="subtitle">¡Ganadores Anteriores!</p>
        <h2 class="main-heading">RIFAS FINALIZADAS</h2>
    </div>

    <section class="finished-events-carousel">
        {% for rifa_finalizada in rifas_finalizadas %}
        <div class="event-card finished-card">
            <div class="card-image-container">
                <img src="{{ rifa_finalizada.imagen_principal.url }}" alt="Rifa Finalizada" class="card-image">
            </div>
            <div class="card-content">
                <p class="event-title">{{ rifa_finalizada.premio_principal }}</p>
                <p class="event-date">Sorteada: {{ rifa_finalizada.fecha_sorteo|date:"j F, Y" }}</p>
                <a href="#" class="btn-finished-action">VER GANADOR</a>
            </div>
        </div>
        {% endfor %}
    </section>


        <section class="payment-methods-section" id="pagos">
        
        <div class="title-section">
            <p class="subtitle">La forma más fácil de pagar</p>
            <h2 class="main-heading">CUENTAS DE PAGO</h2>
        </div>

        <div class="payment-cards-container">
            
            <div class="payment-card">
                <img src="{% static 'img/banesco.png' %}" alt="Logo banesco" class="bank-logo">
                <h3>Banco Banesco</h3>
                <p>Titular: Juega con Doble EE C.A.</p>
                <p>Rif: J-XXXXXXX-X</p>
                <p class="account-number">Cuenta Corriente: 0105-XXXX-XXXX-XXXX-XXXX</p>
                <button class="btn-copy" data-copy="0105-XXXX-XXXX-XXXX-XXXX">Copiar Cuenta</button>
            </div>

            <div class="payment-card">
                <img src="{% static 'img/pago_movil.png' %}" alt="Logo Pago Móvil" class="bank-logo">
                <h3>Pago Móvil BDV</h3>
                <p>C.I.: V-XX.XXX.XXX</p>
                <p>Teléfono: 0412-XXXXXXX</p>
                <p class="account-number">Banco: 0102 (BDV)</p>
                <button class="btn-copy" data-copy="0412-XXXXXXX">Copiar Teléfono</button>
            </div>
            
            </div>
        
    </section>
    
    </div>
{% endblock %}
    
